<!DOCTYPE html>
<html>
   <%- include('./partials/head.ejs') %>
   <body>
        <%- include('./partials/nav.ejs') %>
        <div class="create-item content">
            <form action="/items" method="POST">
              <label for="name">Item name:</label>
              <input type="text" id="name" name="name" required>
              <label for="quantity">Item quantity:</label>
              <input type="number" min='1' id="quantity" name="quantity" required>
              <label for="details">Item details:</label>
              <textarea id="details" name="details"></textarea>
              <label for="warehouse">Warehouse:</label>
              <select class="dropdown" id="warehouse" name="warehouse" required>
                <option value="N/A">Not at a warehouse</option>
                <% if (warehouses.length > 0) { %>
                    <% warehouses.forEach(warehouse => { %>
                      <option value="<%= warehouse.name %>"><%= warehouse.name %></option>
                    <% }) %>
                  <% } %>
              </select>
              <button>Submit</button>
            </form>
        </div>
        <%- include('./partials/footer.ejs') %>
   </body>
</html>
