<!DOCTYPE html>
<html>
    <%- include('./partials/head.ejs') %>
    <body>
        <%- include('./partials/nav.ejs') %>
        <div class="details content">
            <h2><%= warehouse.name %></h2>
            <div class="content">
                <p class="location">Location: <%= warehouse.location %></p>
                <p class="info"> <%= warehouse.details %> </p>
                <% if (items.length > 0) { %>
                  <h3>Inventory at this location:</h3>
                  <ul class="warehouseInventory">
                    <% items.forEach(item => { %>
                      <li>
                        <p class="nameInWarehouse" onclick="location.href='/items/<%= item._id %>';"><%= item.name %></p>
                        <p class="qtyInWarehouse">Quantity: <%= item.quantity %></p>
                      </li>
                    <% }) %>
                  </ul>
                <% } else { %>
                  <p>This warehouse is empty!</p>
                <% } %>
            </div>
            <a class="change edit" id="<%= warehouse.id %>">
              <img src="/editSym.svg" alt="edit icon">
            </a>
            <a class="change delete" id="<%= warehouse._id %>">
              <img src="/deleteSym.svg" alt="delete icon">
            </a>
        </div>

        <script>
          const del = document.querySelector('.delete');
          del.addEventListener('click', (e) => {
            const endpoint = `/warehouses/${del.id}`;
            fetch(endpoint, {
              method: 'DELETE',
            })
            .then(response => window.location.href = '/warehouses')
            .catch(err => console.log(err));
          });

          const edit = document.querySelector('.edit');
          edit.addEventListener('click', (e) => {
            window.location.href = `/editWarehouse/${del.id}`;
          })
        </script>
        <%- include('./partials/footer.ejs') %>
    </body>
</html>